:root {
  --bg-dark: oklch(0.1 0.005 20);
  --bg: oklch(0.15 0.005 20);
  --bg-light: oklch(0.2 0.005 20);
  --text: oklch(0.96 0.01 20);
  --text-muted: oklch(0.76 0.01 20);
  --highlight: oklch(0.5 0.01 20);
  --border: oklch(0.4 0.01 20);
  --border-muted: oklch(0.3 0.01 20);
  --primary: oklch(0.76 0.1 20);
  --secondary: oklch(0.76 0.1 200);
  --insta-gradiant: conic-gradient(
        from 90deg in oklch,
        oklch(0.92 0.17 85),
        oklch(0.78 0.22 55),
        oklch(0.62 0.29 330),
        oklch(0.56 0.25 300),
        oklch(0.66 0.23 260),
        oklch(0.92 0.17 85)
      );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-dark);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .card {
    height: 700px;
    width: 450px;
    border: 3px solid var(--border-muted);
    border-radius: 10px;
    position: relative;

    #story-board {
      height: 140px;
      width: 100%;
      border-bottom: 2px solid var(--border);
      white-space: nowrap;
      overflow: auto hidden;
      padding-block: 20px;
      padding-left: 15px;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

#story-board .story {
  background-color: var(--bg-light);
  display: inline-block;
  height: 98px;
  width: 98px;
  margin-inline-end: 18px;
  border-radius: 50%;
  position: relative;
  &::before {
    content: '';
    background: var(--insta-gradiant);
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    padding: 4px;
    height: 100%;
    width: 100%;
    inset: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px solid var(--bg);
    cursor: pointer;
  }
}

#fullscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-position: center;
    background-size: cover;
    display: none;
    border-radius: 5px;
    opacity: 0;
}
